@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&family=Shadows+Into+Light&display=swap');
* {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Prompt', sans-serif;
    font-size: auto;
    scroll-behavior: smooth;
}

body {
    background-image: url('/assets/bg.png')
}

.hero {
    padding: 0.5rem;
    margin: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.hero img {
    height: 50%;
    width: 70%;
}

.hero form {
    padding: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}

.root {
    width: auto;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: auto;
    width: auto;
    border: 1px solid black;
    margin: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px;
    /* background-image: linear-gradient(to right, red, yellow); */
}

.card img {
    margin: 1rem;
    width: 17rem;
    height: 15rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-group {
    background-color: rgb(250, 250, 69);
    border: 1px solid black;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: 2px 2px;
}

a {
    text-decoration: none;
    color: black;
}

.search {
    height: 2rem;
    width: 18rem;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 2px 2px;
}

h1 {
    text-shadow: 2px 2px black;
    color: rgb(250, 250, 69);
}